.custom-bg{
    background: rgb(151, 235, 250);
}
.custom-modal{
    background: rgb(151, 235, 250);
}
.img {
    border-radius: 50%;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homepic{
    width: 100%;
    max-height: 500px;
}